*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.list--bare {
  list-style: none;
  margin: 0;
  padding: 0;
}

@import "tabs";
@import "posts";
